@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p, h1, small, span {
  font-family: 'Montserrat';
}
body {
  background-image: url('./imgs/bg.png');
  background-position: center;
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.upload-card {
  background: rgba(0, 0, 0, 0.324);
  border: 1px solid #ffffff8e;
  border-radius: 10px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.301);
  padding: 2rem;
  transition: all 0.4s ease;
}

.upload-card:hover {
  box-shadow: -6px 8px 10px rgba(0, 0, 0, 0.485);
}

.upload-area {
  padding: 1.5rem 3rem;
  border: 2px dashed white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nameInput {
  border-radius: 0.3rem 0 0.3rem 0;
  text-indent: 2px;
  color: white;
  font-family: 'Montserrat';
  background-color: rgba(0, 0, 0, 0.206);
}

.nameInput:focus {
  outline: none;
}

.btn-custom {
  background: #fff;
  color: #000;
  padding: 0.75rem;
  transition: all 0.2s ease;
  font-weight: bold;
}

.btn-custom:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #aaa;
  margin-top: 3rem;
}

.linha{
  position: relative;
  color: white;
}

.linha::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: white;
    transition: all 0.3s ease;
}

.linha:hover::after {
    width: 100%;
}

.fade-in {
  animation: fadeIn 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }

  from {
    opacity: 0;
    transform: translateY(20px);
  }
}